/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
  font-family: 'Titillium Web', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.container {
  border: solid black;
  max-width: 880px;
  margin: 0 auto;
  color: black;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
}
/* Start ElvisIbarra.com Here */
.container {
  max-width: 880px;
  /* TB LR */
  margin: 0 auto;
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  .container {
    max-width: 350px;
  }
}
.title {
  display: flex;
  justify-content: center;
  margin-top: 75px;
  color: darkblue;
  font-size: 4rem;
  padding-top: 10px;
}
/* header */
.rest {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
.rest nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background: black;
  border: solid black;
  overflow: hidden;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  max-width: 880px;
  /* Full width */
}
@media (max-width: 500px) {
  .rest nav {
    max-width: 350px;
  }
}
.rest nav a {
  color: #EF62A4;
  text-decoration: none;
  font-size: 2rem;
  padding: 10px 0;
  cursor: pointer;
}
@media (max-width: 500px) {
  .rest nav a {
    margin: 0px auto;
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .rest nav {
    flex-direction: column;
    align-items: center;
    border-bottom: solid black;
  }
}
@media (max-width: 500px) {
  nav {
    flex-direction: column;
    align-items: center;
    border-bottom: solid black;
  }
}
@media (max-width: 500px) {
  .lambda {
    font-size: 1.6rem;
  }
  .title {
    margin-top: 70px;
  }
  .Namepic {
    margin-top: 290px;
    padding-top: 20px;
  }
}
header nav a:hover {
  text-decoration: underline;
  color: white;
}
header nav a:first-child {
  margin-left: 0;
}
header nav a:last-child {
  margin-right: 0;
}
.weekly {
  display: flex;
  border-width: 2px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 65px;
  padding: 20px 3%;
  border-top: dashed darkblue;
}
.weekly .intro {
  margin-top: 0px;
}
.weekly .cs14 {
  color: #EF62A4;
}
.weekly .weeklytitle {
  font-size: 2rem;
  color: darkblue;
}
.weekly .daytags {
  color: #EF62A4;
}
.weekly h4 {
  margin-top: 0px;
}
.weekly .day {
  color: darkblue;
}
.weekly p {
  line-height: 2.5rem;
  text-indent: 40px;
}
.weekly h2 {
  font-size: 2rem;
  text-decoration: underline;
  font-weight: bold;
}
.weekly .text-content {
  margin-top: 20px;
}
.weekly .text-content p {
  margin-top: 0px;
}
.weekly .text-content h4 {
  font-size: 1.75rem;
  font-weight: bold;
}
.weeklyp {
  margin-top: 20px;
  color: darkblue;
  font-weight: bold;
}
.weeklylambda {
  margin-top: 20px;
  color: #EF62A4;
  font-weight: bold;
}
.twitter-tweet {
  border: dashed #EF62A4;

}
.postImagesContainer {
  margin: 10px auto;
  display:flex;
  justify-content:center;
}
.postImages {
  border: dashed #EF62A4;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.resume header {
  margin: 20px 0;
  padding: 0px 5%;
  width: 100%;
}
.resume header nav {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .resume header nav {
    flex-direction: column;
    align-items: center;
  }
}
.resume header a {
  color: #EF62A4;
  text-decoration: none;
}
@media (max-width: 500px) {
  .resume header a {
    margin: 5px 0;
    font-size: 2rem;
  }
}
.resume header a:hover {
  text-decoration: underline;
  color: white;
}
.resume h3 {
  font-size: 2rem;
  color: #EF62A4;
  font-weight: bold;
}
.resume h4 {
  font-size: 1.75rem;
  color: black;
  font-weight: bold;
}
.resume .Namepic {
  display: flex;
  justify-content: space-between;
  border-top: solid black;
  font-weight: bold;
}
.resume .Namepic .profilepic {
  width: auto;
  height: 300px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin: 75px 5%;
  align-self: center;
  border: solid black;
}
@media (max-width: 500px) {
  .resume .Namepic .profilepic {
    display: none;
  }
}
.resume .Namepic h1 {
  font-size: 3rem;
  color: #EF62A4;
}
.resume .Namepic .middletext {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  padding-top: 10%;
  padding-bottom: 15%;
}
.projectButton {
  border: none;
  width: 80%;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
  background: #EF62A4;
  color: #FFFFFF;
  text-align: center;
  cursor:pointer
}
.resume .Namepic .middletext button:hover {
  background: solid blue;
}
@media (max-width: 500px) {
  .resume .Namepic .middletext {
    justify-content: space-around;
    height: 150px;
    padding-top: 0%;
    padding-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .resume .Namepic {
    margin-top: 75px;
  }
}
.resume .main-content .IntroSkills {
  display: flex;
  border-top: solid black;
  padding: 30px 0%;
}
.resume .main-content .IntroSkills h3 {
  margin-bottom: 5px;
  font-size: 2rem;
  color: #EF62A4;
  font-weight: bold;
}
.resume .main-content .topcontent {
  width: 50%;
  padding-left: 7%;
  padding-right: 7%;
}
.resume .main-content .topcontent a {
  color: #EF62A4;
}
.resume .main-content .topcontent ul.skills {
  margin-top: 0px;
  list-style-type: square;
}
.resume .Workexperience {
  border-top: solid black;
  padding: 30px 7%;
}
.resume .Workexperience a {
  color: #EF62A4;
}
.resume .Workexperience .workcontent {
  margin-top: 20px;
}
.resume .Workexperience .workcontent p {
  margin: 5px 0;
}
.resume .Workexperience .workcontent h4 {
  margin-bottom: 5px;
}
.resume .languages {
  padding: 0px 7%;
}
.resume .languages h3 {
  margin-bottom: 20px;
}
.resume footer {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}
.halfnav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.halfnav.first {
}
.halfnav.second {
  border-top: dashed #EF62A4;
}
.container.home {
  border: solid black;
}
.container.home .homenamepic {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}
@media (max-width: 500px) {
  .container.home .homenamepic {
    margin-top: 20px;
  }
}
.container.home .profilepic {
  width: auto;
  height: 300px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  align-self: center;
  margin: 30px 0px;
}


@media (max-width: 500px) {
  .container.home .profilepic {
    margin: 30px 0px;
  }
}
.projects {
  margin-top: 0px;
  display: flex;
  text-align: center;
  padding: 20px 20px;
}
@media (max-width: 500px) {
  .projects {
    width: 100%;
  }
}
.projects .middletext {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  align-self:center;
  font-size: 1.6rem;
}
.projects .middletext h1 {
  font-weight: bold;
  font-size: 2.5rem;
}
@media (max-width: 500px) {
  .projects .middletext {
    width: 100%;
  }
}
.projects button {
  padding: 30px 20%;
  background: #EF62A4;
}
.projects button a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}
.projects .projectimgdiv {
  margin: 0 auto;
}
.projects .projectimgdiv .projectimg {
  border-radius: 50%;
  width: 300px;
  height: auto;

}
@media (max-width: 500px) {
  .projects .projectimgdiv {
    display: none;
  }
}
.projects.first {
  background: gainsboro;
}
.projects.middle {
  flex-direction: row-reverse;
}

.projectscontent {
  margin-top: 50px;
}

.aboutItems {
  border: solid red;
  margin-top: 70px;
  display: flex;
}

.aboutprofilepic {
  width: auto;
  height: 300px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  align-self: center;
  margin: 0px 0px;
  margin-bottom: 20px;
  border: solid darkblue;
}
.abouthomenamepic {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}

.abouttitle {
  display: flex;
  justify-content: center;
  margin-top: 75px;
  color: darkblue;
  font-size: 4rem;
  padding-top: 10px;
}

.aboutday {
  color: darkblue;
}

.projectstitle {
  text-align: center;
  margin-top: 75px;
  color: darkblue;
  font-size: 4rem;
  padding-top: 10px;
}

.twitter {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.journal {
  margin-bottom: 20px;
}